.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
  gap: 10px;
}

.optionsContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.optionsContainer button {
  padding: 0.3em;
}

.optionChosenBtn {
  border: 1px solid var(--default-border-color);
}

.preGameContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.themes,
.languages {
  display: flex;
  list-style: none;
  padding: 0;
}

.themes li,
.languages li {
  display: flex;
  align-items: center;
  margin: 0 10px;
  cursor: pointer;
  transition: all 0.8s ease;
}

.nameInput {
  border: none;
  border-bottom: 2px solid var(--default-border-color);
  width: 100%;
  padding: 0.7em;
  font-size: 1.5em;
  text-align: center;
  background-color: rgb(45, 45, 45);
  transition: all 1s ease;
}

.nameInput:focus-visible {
  outline: none;
  background-color: rgb(30, 30, 30);
}

.startGameButton {
  padding: 1em;
}

.gameContainer {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.customOptionContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.customOptionInputContainer {
  display: flex;
  width: 100%;
  align-items: center;
}

.customOptionInput {
  border: none;
  border-bottom: 2px solid var(--default-border-color);
  padding: 0.7em;
  padding-right: 50px;
  font-size: 1.2em;
  text-align: center;
  background-color: rgb(45, 45, 45);
  transition: all 1s ease;
  outline: none;
  flex-grow: 10;
}

.customOptionInput:focus-visible {
  outline: none;
  background-color: rgb(30, 30, 30);
}

.customOptionSubmit {
  height: 30px;
  margin-left: -40px;
  fill: var(--default-border-color);
  transition: fill 0.3s ease;
}

.customOptionSubmit:active {
  fill: #c68102;
}

.customOptionSubmit[disabled] {
  fill: #7d7d7d;
}

.answerContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.loading {
  border: 16px solid black;
  border-top: 16px solid var(--default-border-color);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
